<div class="loading" *ngIf="this.loading">Loading&#8230;</div>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/admin/dashboard">Dashboard</a></li>
        <li class="breadcrumb-item active" aria-current="page">Products</li>
    </ol>
</nav>


<div class="row">
    <div class="col-md-12">
        <a routerLink="./create" class="btn btn-success btn-sm mt-3 mb-3"><i class="fas fa-plus"></i> Create</a>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="text-center">Id</th>
                    <th class="text-center">Image</th>
                    <th>Product Name</th>
                    <th class="text-center">Price</th>
                    <th>Category</th>
                    <th class="text-center">Qty</th>
                    <th class="text-center">Action(s)</th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let product of products; let i = index">
                    <td class="text-center align-middle">{{i+1}}</td>
                    <td class="text-center align-middle">
                        <img src="{{product?.product_image}}" class="product-image">
                    </td>
                    <td class="align-middle">{{product?.product_name}}</td>
                    <td class="text-center align-middle">LKR {{product?.price}}</td>
                    <td class="align-middle">{{product?.category}}</td>
                    <td class="text-center align-middle">{{product?.stock}}</td>
                    <td class="text-center align-middle">
                        <a routerLink="./edit/{{product?.id}}" class="btn btn-warning btn-sm mx-1" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Edit"><i class="fas fa-edit"></i> </a>
                        <button class="btn btn-danger btn-sm" (click)="deleteProduct(product?.id)"  data-bs-toggle="tooltip" data-bs-placement="bottom" title="Delete"><i class="far fa-trash-alt"></i> </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>