.navbar-nav>li {
  margin-left: 15px;
  margin-right: 15px;
}

.dis-block {
  display: block !important;
  transition: all .5s ease;
}

.dis-none {
  display: none !important;
  transition: all .5s ease;
}

.dropdown-item.active, .dropdown-item:active {
  color: #fff;
  text-decoration: none;
  background-color: #dc3545;
}

#profile {
  min-width: 0 !important;
}