<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">
      <img src="assets/logo.png" alt="" style="width: 31px;
      height: 24px;margin-top: 2px;" class="d-inline-block align-text-top">
      Arimac Stores
    </a>

    <button class="navbar-toggler" type="button" (click)="navbarToggle()">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">

        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="/">Home</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" (mouseenter)="categoryToggle()" (mouseleave)="categoryToggle()"
            style="cursor: pointer;">
            Categories
            <ul class="dropdown-menu" id="category">
              <li *ngFor="let product_category of product_categories;">
                <a class="dropdown-item"
                  routerLink="/product/category/{{product_category?.category_slug}}">{{product_category?.category_name}}</a>
              </li>
            </ul>
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="/cart">Cart <span
              class="badge rounded-pill bg-danger">{{this.item_count?.length}}</span></a>
        </li>

        <li class="nav-item" *ngIf="!this.authService.isLogged()">
          <a class="nav-link" routerLink="/auth/register">Register</a>
        </li>

        <li class="nav-item" *ngIf="!this.authService.isLogged()">
          <a class="nav-link" routerLink="/auth/login">Login</a>
        </li>

        <li class="nav-item dropdown" *ngIf="this.authService.isLogged()" style="margin-right: 50px; cursor: pointer;">
          <a class="nav-link dropdown-toggle" (mouseenter)="profileToggle()" (mouseleave)="profileToggle()">
            Hi {{this.authService.loggedUserName()}} !

            <ul class="dropdown-menu" id="profile" *ngIf="this.authService.isAdmin()">
              <li><a class="dropdown-item" routerLink="admin">Dashboard</a></li>
              <li><a class="dropdown-item" routerLink="admin/orders">Orders</a></li>
              <li><a class="dropdown-item" routerLink="admin/products">Products</a></li>
              <li><a class="dropdown-item" (click)="logout()">Logout</a></li>
            </ul>

            <ul class="dropdown-menu" id="profile" *ngIf="!this.authService.isAdmin()">
              <li><a class="dropdown-item" (click)="logout()">Logout</a></li>
            </ul>
          </a>

        </li>
      </ul>
    </div>
  </div>
</nav>