<div class="loading" *ngIf="this.loading">Loading&#8230;</div>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/admin/dashboard">Dashboard</a></li>
        <li class="breadcrumb-item active" aria-current="page">Orders</li>
    </ol>
</nav>

<div class="row">
    <div class="col-md-12">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="text-center">Id</th>
                    <th class="text-center">Cart Id</th>
                    <th class="text-center">Items</th>
                    <th class="text-center">Price</th>
                    <th class="text-center">Status</th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let order of orders; let i = index">
                    <td class="text-center align-middle">{{i+1}}</td>
                    <td class="text-center align-middle">{{order?.cart_id}}</td>
                    <td>
                        <div *ngFor="let item of order?.items;">
                            <p>{{item?.item}}</p>
                            <p>{{item?.item_qty}} x LKR {{item?.price}}</p>
                        </div>
                    </td>
                    <td class="text-center align-middle">
                        LKR {{getTotal(order?.items)}}
                    </td>
                    <td class="text-center align-middle">{{order?.status | titlecase}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>