

<div class="row padding">
    <h2 class="mb-3">Shppoing Card</h2>
    <div class="col-md-8">
        <table>
            <tr *ngFor="let item of cart_items; let i = index" class="mb-3">

                <td style="width: 15%">
                    <img src="{{item?.product.product_image}}" class="product-image">
                </td>

                <td>
                    <strong class="product-margin">{{item?.product.product_name}}</strong>
                    <p class="product-margin">{{transform(item?.product.product_description)}}</p>
                </td>
                
                <td>
                    <strong>LKR {{item?.quantity * item?.product.price}}</strong>
                </td>

                <td>
                    <span class="remove-product" (click)="remove_product(item)"><i class="far fa-times-circle"></i></span>
                </td>
            </tr>
        </table>
    </div>
    
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">

            </div>
        </div>
    </div>
</div>