<div class="row justify-content-center">
    <div class="col-md-9">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Item Name</th>
                    <th>Item Qty</th>
                    <th>Price</th>
                    <th>Action(s)</th>
                </tr>
            </thead>
            
            <tbody>
                <tr *ngFor="let item of cart_items; let i = index">
                    <td>{{item?.product.id}}</td>
                    <td>{{item?.product.product_name}}</td>
                    <td>
                        <div class="wrapper">
                            <button class="plusminus" (click)="handleMinus()">-</button>
                            <input type="number" class="num_{{i}}" value="{{item?.quantity}}"  />
                            <!-- <input type="number" class="num_{{i}}" value="{{item?.quantity}}"  [(ngModel)]="value"/> -->
                            <button class="plusminus" (click)="handlePlus()">+</button>
                          </div>
                    </td>
                    <td>{{item?.quantity * item?.product.price}}</td>
                    <td>
                        <button class="btn btn-danger btn-sm" (click)="remove_product(item)">Remove</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
