.product-image {
    padding: 13px;
    border-radius: .25rem;
    max-width: 100%;
    height: auto;
}

.padding {
    padding-top: 50px;
    padding-bottom: 50px;
}

h2 {
    font-size: 23px;
}

.remove-product {
    font-size: 24px;
    cursor: pointer;
}

.remove-product i {
    color: #dc3545;
}

.empty-cart {
    max-width: 60%;
    height: auto;
}