<div class="row">

    <div class="col-md-3 mb-3" *ngFor="let product of products">
        <div class="card shadow bg-body rounded">
            <img src="{{product?.product_image}}" alt="{{product?.product_name}}" class="img-fluid" loading="lazy">
            <span class="badge text-dark">{{product?.category}}</span>
            <div class="card-body">
                <h4>{{product?.product_name}}</h4>
                <p class="card-text">{{product?.product_description | truncate : 100}}</p>
                <p>Rs. {{product?.price}}</p>
                <button class="btn btn-danger btn-sm"><i class="fas fa-cart-plus"></i> Add
                    to cart</button>

            </div>
        </div>
    </div>
</div>