<div class="loading" *ngIf="this.loading">Loading&#8230;</div>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{transformText(product_slug) | titlecase}}</li>
    </ol>
</nav>

<div class="row">
    <div class="col-md-3 mb-3" *ngFor="let product of products">
        <div class="card shadow bg-body rounded">
            <img src="{{product?.product_image}}" alt="{{product?.product_name}}" class="img-fluid" loading="lazy">
            <span class="badge text-dark">{{product?.category}}</span>
            <div class="card-body">
                <h4 class="product-name" routerLink="/product/{{product?.product_slug}}">{{product?.product_name}}</h4>
                <p class="card-text">{{transform(product?.product_description)}}</p>
                <p>Rs. {{product?.price}}</p>
                <button *ngIf="product?.stock != 0" class="btn btn-danger btn-sm" (click)="addToCart(product)"><i class="fas fa-cart-plus"></i> Add
                    to cart</button>
                <span *ngIf="product?.stock == 0" class="text-danger">Out of Stock</span>
            </div>
        </div>
    </div>
</div>