

<div class="row align-items-center hero">

  <div class="col-md-6">
    <h2>Get your <span class="text-danger">Retail Items</span> from here</h2>
    <p>Enter Sri Lanka's freshest online grocery store for all your grocery needs- fresh to frozen and everything in between! Now, you can order ALL your daily necessities from the comfort of your home or anywhere you want !</p>
    <span class="badge rounded-pill bg-danger shop-here" (click)="scrollDown()">Shop Here</span>
  </div>

  <div class="col-md-6 hero">
    <img src="assets/In no time-pana.svg" class="img-fluid">
  </div>
</div>


<div class="row">

  <div class="col-md-3 mb-3" *ngFor="let product of products">
    <div class="card shadow bg-body rounded">
      <img src="{{product?.product_image}}" alt="{{product?.product_name}}" class="img-fluid" loading="lazy">
      <span class="badge text-dark">{{product?.category}}</span>
      <div class="card-body">
        <h4 class="product-name" routerLink="/product/{{product?.product_slug}}">{{product?.product_name}}</h4>
        <p class="card-text">{{transform(product?.product_description)}}</p>
        <p>Rs. {{product?.price}}</p>
        <button class="btn btn-danger btn-sm" (click)="addToCart(product)"><i class="fas fa-cart-plus"></i> Add to cart</button>
        
      </div>
    </div>
  </div>

  
</div>




