

<div class="row align-items-center hero">

  <div class="col-md-6">
    <h2>Get your <span class="text-danger">Retail Items</span> from here</h2>
    <p>ShopHere allows you to create an Online Shop by yourself with a unique Shop Link & in-built Online Payment integrations in 5 minutes. Basic Shop is FREE forever.*</p>
    <span class="badge rounded-pill bg-danger">Shop Here</span>
  </div>

  <div class="col-md-6">
    <img src="assets/In no time-pana.svg" class="img-fluid">
  </div>
</div>


<div class="row">

  <div class="col-md-3 mb-3" *ngFor="let product of products">
    <div class="card shadow bg-body rounded">
      <img src="{{product?.product_image}}" alt="{{product?.product_name}}" class="img-fluid" loading="lazy">
      <span class="badge text-dark">{{product?.category}}</span>
      <div class="card-body">
        <h4>{{product?.product_name}}</h4>
        <p class="card-text">{{product?.product_description | truncate : 100}}</p>
        <p>Rs. {{product?.price}}</p>
        <button class="btn btn-danger btn-sm" (click)="addToCart(product)"><i class="fas fa-cart-plus"></i> Add to cart</button>
        
      </div>
    </div>
  </div>

  
</div>




